<%= form_with(model: jogo, local: true) do |form| %>
  <% if jogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jogo.errors.count, "error") %> prohibited this jogo from being saved:</h2>

      <ul>
      <% jogo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

<% for plataforma in Plataforma.all %>
<div>
  <%= check_box_tag "product[plataforma_ids][]", plataforma.id, @jogo.plataformas.include?(plataforma) %>
  <%= plataforma.nome %>
</div>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
